!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:					96
Xft.antialias: 				true
Xft.rgba: 					rgb
Xft.hinting: 				true
Xft.hintstyle: 				hintfull
Xft.lcdfilter: 				lcddefault
Xcursor.theme:				OSX-ElCap


URxvt*depth:                32
URxvt*geometry:             90x30
! URxvt.transparent:          true
! URxvt.fading:               85
URxvt*background:				#030508
! URxvt.background:			rgba:0000/0000/0000/aaaa
! URxvt.background:			rgba:0000/0000/0200/c800
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt*loginShell:           true
URxvt*saveLines:            1000
URxvt*internalBorder:       3
URxvt*lineSpace:            0


! Fonts
URxvt*allow_bold:           false
URxvt*font:     xft:Tewi:size=8
URxvt*boldFont: xft:Tewi:medium:size=8

! Fix font space
URxvt*letterSpace: 1

! Scrollbar
URxvt*scrollStyle:          rxvt
URxvt*scrollBar:            false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! Perl extensions
URxvt*perl-lib:         /usr/lib/urxvt/perl/
URxvt.perl-ext-common:	default,clipboard,keyboard-select,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.underlineURLs:  True
URxvt.colorUL:	#86a2be


! Pointer
URxvt*pointerBlank:         true

! special
*.foreground: 	#b3b8c4
*.background:	#20242c
*.cursorColor:  #98d1ce

! black
*.color0:       #151515
*.color8:       #666666

! red
*.color1:       #ff005b
*.color9:       #ff00a0

! green
*.color2:       #60ff00
*.color10:      #b1e318

! yellow
*.color3:       #ffe755
*.color11:      #ff9f00

! blue
*.color4:       #048ac7
*.color12:      #48c6ff

! magenta
*.color5:       #833c9f
*.color13:      #be67e1

! cyan
*.color6:       #0ac1cd
*.color14:      #63e7f0

! white
*.color7:       #e4e4e4
*.color15:      #f3f3f3


! SETTINGS
URxvt*secondaryScroll: True
URxvt*cursorUnderline: False
URxvt*cursorColor: #D3D3D3
URxvt*cursorBlink: True
URxvt*underlineColor: #181818


! ------------------------------------------------------------------------------
! ROFI
! ------------------------------------------------------------------------------
!rofi.modi: run
!rofi.font: PragmataPro 16
!rofi.width: 100
!rofi.padding: 120
!rofi.lines: 3
!rofi.columns: 1
!rofi.opacity: 80

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1f222d, #1f222d, #000000
rofi.color-normal: #1f222d, #a6d1fa, #383c4a, #7780a1, #d1d4e0
rofi.color-active: #1f222d, #268bd2, #383c4a, #268bd2, #d1d4e0
rofi.color-urgent: #1f222d, #dc322f, #383c4a, #dc322f, #d1d4e0